@use "/src/scss/abstracts/variables" as *;
@use "/src/scss/abstracts/mixins" as *;

.vacancyContainer {
  position: relative;
  width: 773px;
  padding: 24px;
  @include card-border;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @include medium {
    width: 100%;
  }
  @include small {
    width: 100%;
    padding: 16px;
  }
  .starImg {
    position: absolute;
    right: 24px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    @include small {
      right: 14px;
    }
  }
}