@use '../abstracts/mixins' as *;
@use "/src/scss/abstracts/variables" as *;

html {
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  overflow: hidden;
  @include font-Inter-400;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

main {
  flex: 1 0 auto;
  background-color: #F5F5F5;
}