@use "/src/scss/abstracts/variables" as *;
@use "/src/scss/abstracts/mixins" as *;

header {
  @include large {
    @include wrapper(map-get($width, "large"));
    height: 84px;
  }
  @include medium {
    @include wrapper(map-get($width, "medium"));
    height: 84px;
  }
  @include small {
    @include wrapper-small;
    justify-content: space-between;
    height: 60px;
  }
  display: flex;
  align-items: center;
  .headerLogo {
    width: 141px;
    height: 36px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    a:focus {
      outline: none;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .headerNav {
    margin-left: 280px;
    @include medium {
      margin-left: 86px;
    }
    @include small {
      display: none;
    }
  }
  .navBtn {
    display: none;
    @include small {
      display: block;
      width: 21px;
      height: 19px;
      cursor: pointer;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
  }
}

.navModalOverlay {
  justify-content: flex-end;
  align-items: flex-start;
  transition: background-color 0.3s;
  pointer-events: none;
  &.activeModal {
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: all;
  }
}
.navModalContent {
  width: 85vw;
  height: 160px;
  margin-top: 11px;
  transform: translateX(100%);
  transition: transform 0.4s;
  &.activeModal {
    transform: translateX(0);
  }
}
